<table cellpadding="0" cellspacing="0" border="0" style="font-family: Calibri, Arial, sans-serif; font-size: 11pt; color: #000000;">
  <tr>
    <td style="padding-bottom: 4px;">Freundliche Grüße / Kind regards</td>
  </tr>
  <tr>
    <td style="padding-bottom: 2px;">{{ user.displayName }}</td>
  </tr>
  <tr><td style="line-height:0.8em;">&nbsp;</td></tr>
  <tr>
    <td>Triebelsstr. 5, 52066 Aachen</td>
  </tr>
  {% if user.mail %}
  <tr>
    <td style="padding-bottom: 2px;">{{ user.mail }}</td>
  </tr>
  {% endif %}
</table>
