<table cellpadding="0" cellspacing="0" border="0" style="margin-top:10px;font-family:Calibri,Arial,sans-serif;font-size:10pt;color:#374151;">
  <tr>
    <td>
      <span style="display:inline-block;background:#F26522;color:#ffffff;font-size:8pt;font-weight:700;padding:1px 5px;border-radius:2px;letter-spacing:.04em;vertical-align:middle;margin-right:6px;">RSS</span>
      Regelmäßig neue Beiträge zu Exchange&nbsp;Online, Intune &amp; Entra:&nbsp;
      <a href="https://blog.zarenko.net" style="color:#2563EB;text-decoration:none;">blog.zarenko.net</a>
    </td>
  </tr>
</table>
